# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Configurações locais do VSCode
.vscode/

# Arquivos de ambiente 
.env

# Arquivos de pacotes salvos do Jupyter
.ipynb_checkpoints/

# Arquivos de sistema 
.DS_Store
Thumbs.db
